[submodule "Kirby64Syms"]
	path = Kirby64Syms
	url = https://github.com/Kirby64Ret/Kirby64Syms
[submodule "K64APClient/lib/APCpp"]
	path = K64APClient/lib/APCpp
	url = https://github.com/RecompRando/APCpp
